In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/employee.csv')
df

      EID      Employee Name Gender   Salary Date of Joining   Department
0   E123D        Nitin Bhole      M  1900000      01-11-2016     Products
1   E876G     Mayur Kulkarni      M  1200000      03-06-2016    Semantics
2   E798G      Anurag Pandey      M  1200000      04-07-2016           IT
3   E123B      Pankaj Bansal      M   900000      01-12-2015     Research
4   E098Z    Rajendra Prabhu      M  1000000      11-11-2015    Semantics
5   E294M     Sumanth Mishra      M  1800000      04-09-2017     Research
6   E972L          Sai Bodha      M  1100000      11-11-2017    Semantics
7   E184A  Kushmakar Krishna      M  1100000      01-01-2015     Products
8   E104S     Amarnath Patil      M   600000      29-11-2015  Engineering
9   E093V   Shashidhar Reddy      M   700000      29-11-2018  Engineering
10  E983Q     Chakshu Bansal      F   300000      04-12-2017     Products
11  E092E       Mitali Gupta      F  1600000      02-05-2019    Semantics
12  E620Y     Kumar Abhishek      M  1100000      01-12-2014    Semantics
13  E109U     Sanket Gibbidi      M  5000000      11-01-2019     Products

Given an employee id, greet them with their first name.

In [3]:
def greet_employee(eid):
    row = df[df['EID'] == eid]
    if not row.empty:
        name = row.iloc[0]['Employee Name']
        gender = row.iloc[0]['Gender']
        first_name = name.split()[0]
        prefix = "Mr" if gender.lower() == "male" else "Ms"
        print(f"Hello, {prefix} {first_name}")
    else:
        print("Employee ID not found.")

In [4]:
greet_employee('E876G')

Hello, Ms Mayur

Function for calculating the average salary of each department.

In [6]:
def average_salary_by_department():
    avg_salary = df.groupby('Department')['Salary'].mean()
    print(avg_salary)
average_salary_by_department()

Department
Engineering     650000.0
IT             1200000.0
Products       2075000.0
Research       1350000.0
Semantics      1200000.0
Name: Salary, dtype: float64

Given an Employee id, display respective employees Name, Data of Joining and Department.

In [7]:
def show_employee_details(eid):
    row = df[df['EID'] == eid]
    if not row.empty:
        name = row.iloc[0]['Employee Name']
        doj = row.iloc[0]['Date of Joining']
        dept = row.iloc[0]['Department']
        print(f"{name} | {doj} | {dept}")
    else:
        print("Employee ID not found.")
show_employee_details('E876G')

Mayur Kulkarni | 03-06-2016 | Semantics

Function for sorting employees from Oldest to Newest.

In [9]:
def sort_employees_by_joining():
    df['Date of Joining'] = pd.to_datetime(df['Date of Joining'], dayfirst=True)
    sorted_df = df.sort_values('Date of Joining')
    print(sorted_df[['EID', 'Employee Name', 'Date of Joining']])
sort_employees_by_joining()

      EID      Employee Name Date of Joining
12  E620Y     Kumar Abhishek      2014-12-01
7   E184A  Kushmakar Krishna      2015-01-01
4   E098Z    Rajendra Prabhu      2015-11-11
8   E104S     Amarnath Patil      2015-11-29
3   E123B      Pankaj Bansal      2015-12-01
1   E876G     Mayur Kulkarni      2016-06-03
2   E798G      Anurag Pandey      2016-07-04
0   E123D        Nitin Bhole      2016-11-01
5   E294M     Sumanth Mishra      2017-09-04
6   E972L          Sai Bodha      2017-11-11
10  E983Q     Chakshu Bansal      2017-12-04
9   E093V   Shashidhar Reddy      2018-11-29
13  E109U     Sanket Gibbidi      2019-01-11
11  E092E       Mitali Gupta      2019-05-02